# python virtual env
env-*/

# vscode workspace metadata
.vscode/

# maven/eclipse
.settings/
.project
.classpath
target/

# python cache
__pycache__/
.pytest_cache

# ignore parameters.yml to avoid committing
# account specific details
params.yml

# ignore anything going into the lambda/
# directory, it's strictly for build output
lambda/build/*.zip

# output for spring application
application.properties